<mat-toolbar color="primary">
	<h1>Clash DashBoard</h1>
</mat-toolbar>
<mat-sidenav-container class="nav-container" autosize>
	<mat-sidenav #sidenav class="sidenav" mode="side" opened="true">
    <mat-nav-list>
      <app-nav-item *ngFor="let route of routes" [title]="route.data?.['title']" [icon]="route.data?.['icon']" [path]="route.path"></app-nav-item>
    </mat-nav-list>
	<mat-toolbar *ngIf="version" color="primary">
		<mat-toolbar-row *ngIf="version.premium"><span>Premium🌟</span></mat-toolbar-row>
		<mat-toolbar-row *ngIf="version.version"><span>{{version.version}}</span></mat-toolbar-row>
	</mat-toolbar>
  </mat-sidenav>
	<mat-sidenav-content class="sidenav-content">
		<router-outlet></router-outlet>
	</mat-sidenav-content>
</mat-sidenav-container>