<div class="proxy-background">
    <h1>Proxy</h1>
    <div class="md-padding" layout="row" layout-wrap *ngFor="let item of proxies | keyvalue">
        <h2>{{item.key}}</h2>
        <mat-card class="proxy-card" [class.chosen-card]="proxy.chosen" *ngFor="let proxy of item.value">
            <mat-card-header>
                <mat-card-title>{{proxy.name}}</mat-card-title>
                <mat-card-subtitle>{{proxy.type}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content *ngIf="proxy.history.length> 0">{{proxy.history[0].delay}}</mat-card-content>
            <mat-card-footer *ngIf="proxy.history.length > 0">{{proxy.history[0].time | date:'M/d/yyyy, h:mm a' }}</mat-card-footer>
        </mat-card>
    </div>
</div>

