.proxy-card {
    box-sizing: border-box;
    border-width: 5px;
    margin: 5px;
    width: 250px;
    height: 150px;
}

.chosen-card {
    background-color: rgb(124, 252, 0);
}

.dead-card {
    background-color: red;
}

.proxy-content-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.proxy-filter {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

.proxy-filter-content {
    display: flex;
    flex-direction: row;
}

.proxy-filter-section {
    display: flex;
    align-items: center;
}

.proxy-background {
    padding-left: 20px;
}

mat-card-header {
    display: flow-root;
}
 
mat-card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}