.proxy-card {
    border-width: 5px;
    margin: 5px;
    width: 200px;
}

.chosen-card {
    background-color: rgb(124, 252, 0);
}

.proxy-content-div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
}

.proxy-filter {
    display: flex;
    flex-direction: column;
    border: 1px solid;
    border-radius: 25px;
    padding: 20px;
    margin: 20px;
}

.proxy-filter-content {
    display: flex;
    flex-direction: row;
}

.proxy-filter-section {
    display: flex;
}

.proxy-background {
    padding-left: 20px;
}